/* Variables */
:root {
    --dark-green: rgb(43, 52, 37);
    --light-green: #BCCCA1;
    --light-grey: rgb(128, 128, 128);
    --dark-grey: rgb(65, 65, 65)
}


/* Utilities */
button {
    text-decoration: none;
}

.button-white{
    border-radius: 4px;
    display: block;
    padding: 1rem;
    background-color: rgb(203, 192, 120);
    color: var(--dark-green);
    text-align: center;
}

.flex-wrap {
    display: flex;
    flex-wrap: wrap;
}

.space-evenly {
    justify-content: space-evenly;
}

.responsive-img {
    width: 100%;
    height: auto;
    margin: 0;
}

/* App specific */
html, body {
    background-color: #efe3d2;
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    margin: auto;
    position: relative;
}

header img {
    width: 20%;
    height: 20%;
    display: block;
    margin: 0 auto;
}

.page-header, .page-footer{
    background-color: var(--dark-green);
    color: var(--light-green);
    font-family: 'Graduate', Baskerville, Georgia, sans-serif;
}

.page-header {
    background-image: url('../img/dark-green-vintage-background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    padding: 0;
}

.page-title {
    text-align: center;
    margin: 0;
}

ion-icon {
    vertical-align: middle;
}

body {
    font-family: 'Special Elite', monospace;
}

nav {
    width: 100%;
}

ul {
    display: flex;
    list-style-type: none;
    justify-content: space-evenly;
    padding: 1rem 0;
    margin: 0;
}

li {
    width: 20%;
}

li a {
    width: 100%;
    font-size: 25px;
    height: 2rem;
    display: block;
    text-align: center;
    line-height: 2rem;
    text-decoration: none;
}

li a {
    display: block;
    text-align: center;
    text-decoration: none;
}

li a:hover {
    background-color: rgb(128, 168, 171);
}

#map {
    width: 100%;
    height: auto;
}

.boxes {
    width: 100%;
}

.box {
    padding: 1rem;
    font-size: large;
    line-height: 2rem;
}

#map, .box {
    border-radius: 6px;
    box-shadow: rgba(105, 78, 56, 0.66) 3px 3px 10px;
}

.box h2 {
    margin: 0;
}

.box table {
    width: 100%;
    text-align: center;
    border: var(--light-grey) solid 1px;
    border-radius: 4px;
    background-color: floralwhite;
}

.box li {
    width: 30%;
    text-align: center;
    border: var(--light-grey) solid 1px;
    border-radius: 4px;
    box-sizing: border-box;
}

footer {
    text-align: center;
    padding: 1rem;
}

.goal {
    background-image: url("../img/splatter.png");
    background-size: contain;
    background-repeat: no-repeat;
    padding: 9rem 7rem;
    text-align: center;
    position: absolute;
    bottom: 30%;
    filter: drop-shadow(0 0 30px #333);
    transform: rotate(345deg);
    line-height: 1rem;
}

.hide {
    display: none;
}

.done {
    background-color: #b0b0b0;
}

#weather {
    border-spacing: 0;
}

#weather td {
    padding: 0.3rem;
}

#weather td:first-child #weather td:nth-child(2) {
    border-right: #b0b0b0 1px solid;
}

