<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Special+Elite&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Graduate&family=Special+Elite&display=swap" rel="stylesheet">
    <script src="https://unpkg.com/leaflet@1.8.0/dist/leaflet.js" defer></script>
    <script type="module" src="https://cdn.jsdelivr.net/npm/ionicons/dist/ionicons/ionicons.esm.js" defer></script>
    <script nomodule src="https://cdn.jsdelivr.net/npm/ionicons/dist/ionicons/ionicons.js" defer></script>
    <link href="continent_form.css" rel="stylesheet">
    <script src="continent_form.js" defer></script>
    <title>Continent Selector Form</title>
</head>
<body>
<button class="back-button" onclick="goBack()">Back to Game</button>

<header class="page-header">
    <img src="1.png" alt="Header Image">
    <h1 class="page-title">
        <ion-icon name="airplane-outline"></ion-icon>&nbsp;Continent Selector&nbsp;
        <ion-icon name="airplane-outline"></ion-icon>
    </h1>
</header>

<form>
    <label for="continent">Select a continent:</label>
    <select id="continent" name="continent">
        <option value="Africa">Africa</option>
        <option value="Antarctica">Antarctica</option>
        <option value="Asia">Asia</option>
        <option value="Europe">Europe</option>
        <option value="North America">North America</option>
        <option value="Oceania">Oceania</option>
        <option value="South America">South America</option>
    </select>

    <br><br>

    <button type="button" onclick="submitForm()">Submit</button>
</form>

<script src="continent_form.js"></script>
<footer class="page-footer">
    <p>This game is made by group 3. All rights reserved ©2023 Software 2 Group B Copyright Metropolia UAS</p>
</footer>

</body>
</html>
