<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Special+Elite&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Graduate&family=Special+Elite&display=swap" rel="stylesheet">
    <script src="https://unpkg.com/leaflet@1.8.0/dist/leaflet.js" defer></script>
    <script type="module" src="https://cdn.jsdelivr.net/npm/ionicons/dist/ionicons/ionicons.esm.js" defer></script>
    <script nomodule src="https://cdn.jsdelivr.net/npm/ionicons/dist/ionicons/ionicons.js" defer></script>
    <link href="../static/Shop%20Page%20Template/css/help.css" rel="stylesheet">
    <title>Quests</title>
</head>

<body>
    <button class="back-button" onclick="goBack()">Back to Game</button>

    <header class="page-header">
                <img src="../static/Main%20Page%20Templates/img/airplane_logo.png" alt="Header Image">
                <h1 class="page-title">
                    <ion-icon name="airplane-outline"></ion-icon>&nbsp;Help&nbsp;
                    <ion-icon name="airplane-outline"></ion-icon>
                </h1>
    </header>


    <section class="item-container">
        <div class="item-card">
            <h2>Intro</h2>
            <p>Play like this and that</p>
            <p>Play like this and that</p><br>
            <p>Play like this and that</p>
            <p>Play like this and that</p><br>
            <p>Play like this and that</p><br>

        </div>

        <div class="item-card">
            <h2>Tips and tricks</h2>
            <p>Do this for this</p>
            <p1>And this for this</p1>
            <p>Do this for this</p>
            <p1>And this for this</p1>
            <p>Do this for this</p>
            <p1>And this for this</p1>
        </div>

        <div class="item-card">
            <h2>FAQ</h2>
            <p>1.Skibididobdob?</p>
            <p1>Ans: Toilet</p1>
            <p>1.Skibididobdob?</p>
            <p1>Ans: Toilet</p1>
            <p>1.Skibididobdob?</p>
            <p1>Ans: Toilet</p1>
            <p>1.Skibididobdob?</p>
            <p1>Ans: Toilet</p1>
        </div>

    </section>

    <footer class="page-footer">
        <p>This game is made by group 3. All rights reserved ©2023 Software 2 Group B Copyright Metropolia UAS</p>
    </footer>

    <script>
        function goBack() {
            window.location.href = "Main Page.html"
        }
    </script>

</body>
</html>