<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Special+Elite&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Graduate&family=Special+Elite&display=swap" rel="stylesheet">
    <script src="https://unpkg.com/leaflet@1.8.0/dist/leaflet.js" defer></script>
    <script type="module" src="https://cdn.jsdelivr.net/npm/ionicons/dist/ionicons/ionicons.esm.js" defer></script>
    <script nomodule src="https://cdn.jsdelivr.net/npm/ionicons/dist/ionicons/ionicons.js" defer></script>
    <link href="../static/Shop%20Page%20Template/css/shop-style.css" rel="stylesheet">
    <script src = "/static/Quest%20Page%20Template/js/Quest.js" defer></script>
    <title>Quests</title>
</head>

<body>
    <button class="back-button" onclick="goBack()">Back to Game</button>

    <header class="page-header">
                <img src="../static/Main%20Page%20Templates/img/airplane_logo.png" alt="Header Image">
                <h1 class="page-title">
                    <ion-icon name="airplane-outline"></ion-icon>&nbsp;Quests&nbsp;
                    <ion-icon name="airplane-outline"></ion-icon>
                </h1>
    </header>


    <section class="item-container">
        <div class="item-card">
            <img src="../static/Main%20Page%20Templates/img/intlfly.png" alt="Quest 1">
            <h2>Quest 1</h2>
            <p>Travel to 5-8 Local Airports</p>
            <p1>Reward: 1000-3500€</p1>
            <button id="quest1">This will cost 750 CO2 Tokens</button>
        </div>

        <div class="item-card">
            <img src="../static/Main%20Page%20Templates/img/sonic-miles-flying-in-a-plane-pixel-doodle.gif" alt="Quest 2">
            <h2>Quest 2</h2>
            <p>Travel to 1-3 International Airports</p>
            <p1>Reward: 750-5000€</p1>
            <button id="quest2">This will cost 750 CO2 Tokens</button>
        </div>

        <div class="item-card">
            <img src="../static/Main%20Page%20Templates/img/treeplant.gif" alt="Quest 3">
            <h2>Quest 3</h2>
            <p>Plant a tree</p>
            <p1>Reward: 1000 CO2 Tokens</p1>
            <button id="quest3">It will cost 1500€</button>
        </div>

    </section>

    <footer class="page-footer">
        <p>This game is made by group 3. All rights reserved ©2023 Software 2 Group B Copyright Metropolia UAS</p>
    </footer>

    <script>
        function goBack() {
            window.location.href = "Main"
        }
    </script>

</body>
</html>