<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Special+Elite&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Graduate&family=Special+Elite&display=swap" rel="stylesheet">
    <link href="../static/Shop%20Page%20Template/css/shop-style.css" rel="stylesheet">
    <title>Shop</title>
</head>

<body>
    <button class="back-button" onclick="goBack()">Back to Game</button>

    <header class="page-header">
                <img src="../static/Main%20Page%20Templates/img/airplane_logo.png" alt="Header Image">
                <h1 class="page-title">
                    <ion-icon name="airplane-outline"></ion-icon>&nbsp;Shop&nbsp;
                    <ion-icon name="airplane-outline"></ion-icon>
                </h1>
    </header>

    <section class="item-container">
        <div class="item-card">
            <img src="../static/Main%20Page%20Templates/img/756f9580cde54db652ea3aaf1f5ab4a6.gif" alt="Item 1">
            <h2>Item 1</h2>
            <p>+5km/l Fuel Efficiency</p>
            <button>Equip</button>
        </div>

        <div class="item-card">
            <img src="../static/Main%20Page%20Templates/img/istockphoto-1406084400-612x612.jpeg" alt="Item 2">
            <h2>Item 2</h2>
            <p>Refueling Services</p>
            <button>Equip</button>
        </div>

        <div class="item-card">
            <img src="../static/Main%20Page%20Templates/img/SustainableFuel-1097x731.webp" alt="Item 3">
            <h2>Item 3</h2>
            <p>Environmental-Friendly Refueling Services</p>
            <button>Equip</button>
        </div>

        <div class="item-card">
            <img src="../static/Main%20Page%20Templates/img/carrier.webp" alt="Item 4">
            <h2>Item 4</h2>
            <p>One-Time Extra Cargo capacity</p>
            <button>Equip</button>
        </div>

        <div class="item-card">
            <img src="../static/Main%20Page%20Templates/img/Screen-Shot-2023-06-01-at-8.58.06-AM.png.webp" alt="Item 5">
            <h2>Item 5</h2>
            <p>One-Time Fuel Drop Tanks</p>
            <button>Equip</button>
        </div>
    </section>

    <footer class="page-footer">
        <p>This game is made by group 3. All rights reserved ©2023 Software 2 Group B Copyright Metropolia UAS</p>
    </footer>

    <script>
        function goBack() {
            window.location.href = "Main Page.html"
        }
    </script>
</body>

</html>


